/* ОБЩЕЕ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000000;
    font-family: 'Montserrat', sans-serif;
}


/* СКРОЛЛБАР */
::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: #22222200;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
}


/* ХЕДЕР */
.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #222;
}

.language-text {
    color: whitesmoke;
    font-weight: 100;
    text-decoration: none;
}

.profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile .avatar {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: gray;
}

.main-header {
    position: sticky;
    top: -3px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px;
    color: white;
    background-color: #b90a0099;
    backdrop-filter: blur(15px);
}

.logo img {
    width: 75px;
    height: 75px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    min-width: 120px;
}

.menu a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.burger {
    display: none;
    width: 50px;
    height: 50px;
    border: none;
    background: url("images/menu.png");
    background-size: 100% 100%;
    color: white;
    font-size: 26px;
    cursor: pointer;
}


/* БАННЕР */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    font-size: 2em;
    color: white;
    background: #444650;
}


/* СЛАЙДЕР ИГРОКОВ */
.players-section {
    padding: 24px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

#title {
    margin: 15px;
    font-size: 2em;
    color: #ffffffc5;
}

.slider-wrapper {
    position: relative;
    overflow: hidden;
}

.slider-container {
    display: flex;
    gap: 15px;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 calc(22% - 20px);
    overflow: hidden;
    aspect-ratio: 3 / 4;
    text-align: center;
    background-color: #a3a3a3;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding: 10px 0;
    background: #c80018;
    color: white;
    transition: 0.3s ease;
}

.info:hover {
    padding: 15px 0;
}

.slider-btn {
    position: absolute;
    top: 50%;
    z-index: 2;
    padding: 10px;
    font-size: 1.5em;
    border: none;
    border-radius: 6px;
    background: #80808099;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transform: translateY(-50%);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

@media (max-width: 1200px) {
    .slide {
        flex: 0 0 calc(33.333% - 20px);
    }
}

@media (max-width: 800px) {
    .slide {
        flex: 0 0 calc(50% - 20px);
    }
}

@media (max-width: 500px) {
    .slide {
        flex: 0 0 100%;
    }

    .players-section {
        padding: 0 50px;
    }
}


/* ПОБЕДЫ */
.wins {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    padding: 24px;
}

.wins #title {
    margin-bottom: 0;
}

.wins-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: min-content;
    border-radius: 12px;
    gap: 10%;
}

.wins-info .info-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    height: min-content;
    gap: 8px;
}

.wins-info .info-card h1 {
    font-size: 4em;
    font-weight: 800;
    color: #8b0000;
}

.wins-info .info-card p {
    font-size: 1.3em;
    color: #ffffff80;
}


/* ФУТЕР */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 20px;
    margin-top: 15px;
    color: white;
    background-color: #181818;
    text-align: center;
}

.footer .footer-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.footer .footer-content .pages {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    padding: 10px;
    gap: 15px;
    font-weight: 100;
    text-align: center;
}

.footer .footer-content .pages a {
    color: white;
    text-decoration: none;
}

.media {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 180px;
    aspect-ratio: 1/1;
    gap: 4%;
}

.media .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    height: 48%;
    background-color: #121211;
    cursor: pointer;
}

.media .link img {
    width: 40%;
    height: 40%;
}

#instagram {
    background: radial-gradient(circle at 30% 30%, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}

#facebook {
    background-color: #1877f2;
}

#youtube {
    background-color: #ff0000;
}

#telegram {
    background-color: #0088cc;
}

.copyright {
    margin-top: 50px;
    font-size: 14px;
}

@media (max-width: 600px) {
    .main-header {
        padding: 5px 15px;
    }

    .menu {
        position: absolute;
        top: 80px;
        right: 20px;
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 10px;
        border-radius: 8px;
        background-color: #b90a0099;
        opacity: 0;
        transition: all 0.3s ease;
        transform: scaleY(0);
        transform-origin: top;
        pointer-events: none;
    }
    

    .menu.active {
        opacity: 1;
        transform: scaleY(1);
        pointer-events: auto;
    }

    .logo img {
        width: 60px;
        height: 60px;
    }

    .burger {
        display: block;
    }

    #title, .calendar-container #calendar-title {
        font-size: 1.5em;
    }

    .matches-and-posts .next-match img {
        width: 75px;
        height: 75px;
    }

    .matches-and-posts .next-match #line-2 {
        font-size: small;
    }

    .matches-and-posts .posts {
        font-size: 0.8em;
    }

    .wins-info .info-card {
        width: 80%;
        justify-content: start;
    }

    .footer .footer-content .media {
        width: 180px;
    }
}


/* МАТЧИ и КАЛЕНДАРЬ */
.matches-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 24px;
}

.matches {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.matches-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 70%;
    max-width: 100%;
    padding: 20px;
    border-radius: 12px;
    background-color: #141414;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.calendar-container {
    flex: 1 1 25%;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    background-color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.matches-container h1 {
    font-size: 2em;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.match {
    padding: 12px;
    margin-bottom: 12px;
    background-color: #090909;
    border-left: 8px #6b0000 solid;
    border-radius: 8px;
    transition: 0.3s ease;
}

.match:hover {
    transform: scale(1.01);
}

.match-date {
    font-size: 16px;
    font-weight: bold;
    color: #e8e8e8;
}

.match-title {
    font-size: 17px;
    color: #f2f2f2;
    margin: 6px 0;
}

.match-location {
    font-size: 14px;
    color: #aaa;
}

.match:last-child {
    margin-bottom: 0;
}

.mini-calendar {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 12px;
    background-color: #141414;
}

#calendar-title {
    font-size: 2em;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.day-names,
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day-names div {
    font-size: 12px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.days div {
    padding: 10px 0;
    border-radius: 6px;
    background-color: #080808;
    color: #ffffff80;
    text-align: center;
    font-size: 14px;
    transition: background 0.3s;
}

.days div:hover {
    background-color: #950c00;
    cursor: pointer;
}

.today {
    background-color: #B72C2C;
    color: #fff;
}


/* НОВОСТИ */
.news {
    width: 100%;
    padding: 24px;
    text-align: center;
}

.news h1 {
    font-size: 2em;
    color: #ffffffc5;
    margin: 15px;
}

.news-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 22px;
}

.news-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 280px;
    max-width: 90%;
    padding: 16px;
    border-radius: 10px;
    background-color: #5c000070;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.25s ease;
}

.news-card img,
.news-card .gradient-bg {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: 12px;
    border-radius: 6px;
    object-fit: cover;
}

.news-card:hover {
    transform: scale(1.025);
}

.news-card h3 {
    font-size: 16px;
    color: #fff;
    margin: 0 0 8px 0;
}

.news-card p {
    font-size: 13px;
    color: #c9c9c9;
    max-height: 0;
    opacity: 0;
    margin: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease, margin-top 0.3s;
}

.news-card.open p {
    max-height: 300px;
    opacity: 1;
    margin-top: 8px;
}

.news-date {
    font-size: 11px;
    color: #aaa;
    text-align: right;
    padding-top: 8px;
    margin-top: auto;
}

.news-card.fresh {
    border: 2px solid #B72C2C;
    background-color: #5c000090;
}

.tag {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    padding: 4px 8px;
    border-radius: 6px;
    background-color: #B72C2C;
    color: #fff;
    font-size: 11px;
}


/* КНОПКА "ОТКРЫТЬ" */
.open-page {
    width: 20%;
    min-width: 300px;
    height: 40px;
    margin-top: 15px;
    border: 2px solid #ffffff50;
    background-color: #171717;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.1s ease;
}

.open-page:hover {
    transform: scale(1.03);
}
